# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs/
*.log
logs/*.log

# dotenv environment variables
.env

# Database files
*.sqlite
*.db
*.sql
*.dump

# Docker
docker-compose.override.yml
Dockerfile
docker-compose.yml

# Docker volumes
volumes/

# Ignore data directories
data/

# Ignore compiled files
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore Git-specific files
*.orig

# Ignore coverage reports
coverage/
*.lcov
